/* headers */
h1 {
    padding: 3px 0 3px 12px;
    
    border-left: 12px solid #99a;
    border-bottom: 3px solid #99a;
}

h2 {
    padding: 3px 0 3px 8px;

    border-bottom: 3px solid #99a;
}

div.doc {
    padding: 10px 0 10px 20px;
    
}

div.paragraph {
    display: none;
}

/* code */
div.code {
    margin: 5px 0px 10px 30px;
    padding: 10px;

    font-family: "Ricty",monospace;
    background-color: #ddf;
}

span.id[type="record"] {
    font-weight: bold;
}
span.id[type="keyword"] {
    color: blue;
    /* font-weight: bold; */
}
span.id[type="var"] {
}
span.inlinecodenm {
    padding: 1px 3px;
    font-family: "Ricty",monospace;
    background-color: #ddf;
}
a.idref {
    color: #960;
    text-decoration: none;
}
a.idref:hover {
    color: #ca3;
    text-decoration: none;
    background-color: #eef;
}
/* goal */
div.example {
    font-family: "Ricty",monospace;
}

div.example pre {
    padding: 8px 16px;
    border-top: 1px dashed #336;
    border-bottom: 1px dashed #336;
}

div.example[type="result"] {
    margin: 0 0 0 50%;
    padding: 10px;
    
    background-color: #ccc;
}

/*
div.example[type="result"] pre {
    display: none;
}

div.example[type="result"]:hover pre {
    display: block;
}
*/

div.example[type="command"] {
    margin: 0 0 0 30px;
    padding: 10px;
    
    background-color: #cce;
}

div.example[type="command"] span.name {
}

